body{ 
    margin-top:10px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*progressbar*/
.progressbar {
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	width: 100%;
	margin: 0 auto 0px;
}
.progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    width: 3%;
    float: left;
    position: relative;
    text-decoration: none;
}
.progressbar li a:hover{
    text-decoration: none;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 25px;
    line-height: 25px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    background: #eeeeee;
    border-radius: 50%;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before, .progressbar li.active:after {
    background: rgb(255,99,71);
    color: white;
}
.displayNone{
    display: none;
}

form {
    display: grid;
    grid-template-columns: 300px 200px 10px 200px 10px ;
    grid-gap:5px;
  }


  form label {
    display: block;
  }
  form p {
    margin: 1px;
  }

  .formplus {
    display: grid;
    grid-template-columns: 300px 150px 15px 150px 15px 150px 15px 150px 10px;
    grid-gap:1px;
  }


  .formplus label {
    display: block;
  }
  .formplus p {
    margin: 1px;
  }

  .table-form {
    display: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap:1px;
  }

  th, td {
    border: 1px solid blue;
    width: 100px;
    word-wrap: break-word;
}
.search-box .clear{
  clear:both;
  margin-top: 20px;
}

.search-box ul{
  list-style: none;
  padding: 0px;
  width: 250px;
  position: absolute;
  margin: 0;
  background: white;
}

.search-box ul li{
  background: lavender;
  padding: 4px;
  margin-bottom: 1px;
}

.search-box ul li:nth-child(even){
  background: cadetblue;
  color: white;
}

.search-box ul li:hover{
  cursor: pointer;
}

.search-box input[type=text]{
  padding: 5px;
  width: 250px;
  letter-spacing: 1px;
}



